.env
node_modules/
build/
dist/

# yarn stuff
yarn-error.log
.log

# jest test coverage report
coverage/

# yarn 3.x stuff
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
